.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.tile {
  width: 20px;
  height: 20px; 
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.tile button {
  width: 20px;
  height: 20px; 
  padding: 0;
  border: 0;
  vertical-align: middle;
}

.config {
  height: 50px;
}

.config input[type="text"] {
  width: 25px;
}
